<section class="attribute-tab flexrow" data-group="primary" data-tab="attributes">
    <div class="attributes-group">
     <ul class="attributes">
      <li class="ability-score" data-score="str">
          <h4 class="attribute-name box-title" title="{{ localize 'LM.abilities.str.long' }}">
            <a>{{ localize "LM.abilities.str.short" }}</a></h4>
          <div class="attribute-value flexrow">
            <input name="data.abilities.str.value" type="text" value="{{data.abilities.str.value}}" placeholder="0"
              data-dtype="Number" />
            <span class="abilities-mod">{{data.abilities.str.mod}}</span>
          </div>
      </li>
      <li class="ability-score" data-score="int">
          <h4 class="attribute-name box-title" title="{{ localize 'LM.abilities.int.long' }}">
              <a>{{ localize "LM.abilities.int.short" }}</a></h4>
          <div class="attribute-value flexrow">
              <input name="data.abilities.int.value" type="text" value="{{data.abilities.int.value}}" placeholder="0"
                  data-dtype="Number" />
              <span class="abilities-mod">{{data.abilities.int.mod}}</span>
          </div>
      </li>
      <li class="ability-score" data-score="wis">
          <h4 class="attribute-name box-title" title="{{ localize 'LM.abilities.wis.long' }}">
              <a>{{ localize "LM.abilities.wis.short" }}</a></h4>
          <div class="attribute-value flexrow">
              <input name="data.abilities.wis.value" type="text" value="{{data.abilities.wis.value}}" placeholder="0"
                  data-dtype="Number" />
              <span class="abilities-mod">{{data.abilities.wis.mod}}</span>
          </div>
      </li>
      <li class="ability-score" data-score="dex">
          <h4 class="attribute-name box-title" title="{{ localize 'LM.abilities.dex.long' }}">
              <a>{{ localize "LM.abilities.dex.short" }}</a></h4>
          <div class="attribute-value flexrow">
              <input name="data.abilities.dex.value" type="text" value="{{data.abilities.dex.value}}" placeholder="0"
                  data-dtype="Number" />
              <span class="abilities-mod">{{data.abilities.dex.mod}}</span>
          </div>
      </li>
      <li class="ability-score" data-score="con">
          <h4 class="attribute-name box-title" title="{{ localize 'LM.abilities.con.long' }}">
              <a>{{ localize "LM.abilities.con.short" }}</a></h4>
          <div class="attribute-value flexrow">
              <input name="data.abilities.con.value" type="text" value="{{data.abilities.con.value}}" placeholder="0"
                  data-dtype="Number" />
                  <span class="abilities-mod">{{data.abilities.con.mod}}</span>
          </div>
      </li>
      <li class="ability-score" data-score="cha">
          <h4 class="attribute-name box-title" title="{{ localize 'LM.abilities.cha.long' }}">
              <a>{{ localize "LM.abilities.cha.short" }}</a></h4>
          <div class="attribute-value flexrow">
              <input name="data.abilities.cha.value" type="text" value="{{data.abilities.cha.value}}" placeholder="0"
                  data-dtype="Number" />
              <span class="abilities-mod">{{data.abilities.cha.mod}}</span>
          </div>
      </li>
     </ul>
    </div>
  <div class="container flexrow">
    <a>CA</a>
    <img class="shield-img" src="/systems/lm/assets/shield.png" alt="CA" >
    <a>PG</a>
    <img class="heart-img" src="/systems/lm/assets/heart_empty.png" alt="hp" >
    <div class="center">CA</div>
  </div>
  <div>
    <ul>
      <li class="attribute saving-throw" data-save="death">
        <h4 class="attribute-name box-title">
            <a>{{ localize "LM.saves.death.long" }}</a></h4>
        <div class="attribute-value">
            <input name="data.saves.death.value" type="text" value="{{data.saves.death.value}}" placeholder="0"
                data-dtype="Number" />
        </div>
      </li>
      <li class="attribute saving-throw" data-save="wand">
        <h4 class="attribute-name box-title">
            <a>{{ localize "LM.saves.wand.long" }}</a></h4>
        <div class="attribute-value">
            <input name="data.saves.wand.value" type="text" value="{{data.saves.wand.value}}" placeholder="0"
                data-dtype="Number" />
      </li>
      <li class="attribute saving-throw" data-save="paralysis">
        <h4 class="attribute-name box-title">
            <a>{{ localize "LM.saves.paralysis.long" }}</a></h4>
        <div class="attribute-value">
            <input name="data.saves.paralysis.value" type="text" value="{{data.saves.paralysis.value}}"
                placeholder="0" data-dtype="Number" />
      </li>
      <li class="attribute saving-throw" data-save="breath">
        <h4 class="attribute-name box-title">
            <a>{{ localize "LM.saves.breath.long" }}</a></h4>
        <div class="attribute-value">
            <input name="data.saves.breath.value" type="text" value="{{data.saves.breath.value}}"
                placeholder="0" data-dtype="Number" />
      </li>
      <li class="attribute saving-throw" data-save="spell">
        <h4 class="attribute-name box-title">
            <a>{{ localize "LM.saves.spell.long" }}</a></h4>
        <div class="attribute-value">
            <input name="data.saves.spell.value" type="text" value="{{data.saves.spell.value}}"
                placeholder="0" />
      </li>
    </ul>
  </div>
  </section>
