<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
          {{#if data.shop}}
          <ul class="summary flexrow">
            <li>
              <input type="text" name="data.price.1mo" value="{{data.price.1mo}}" />
              <label>{{localize 'OSE.details.precio1'}}</label>
            </li>
            <li>
              <input type="text" name="data.price.10mo" value="{{data.price.10mo}}" />
              <label>{{localize 'OSE.details.precio2'}}</label>
            </li>
            <li>
              <input type="text" name="data.price.100mo" value="{{data.price.100mo}}" />
              <label>{{localize 'OSE.details.precio3'}}</label>
            </li>
            <li>
              <input type="text" name="data.price.1000mo" value="{{data.price.1000mo}}" />
              <label>{{localize 'OSE.details.precio4'}}</label>
            </li>
            <li>
              <input type="text" name="data.price.10000mo" value="{{data.price.10000mo}}" />
              <label>{{localize 'OSE.details.precio5'}}</label>
            </li>
            <li>
              <input type="text" name="data.price.mas10000" value="{{data.price.mas10000}}" />
              <label>{{localize 'OSE.details.precio6'}}</label>
            </li>
          </ul>
          {{/if}}
          <ul class="summary flexrow">
             <div class="small">
              <li class="{{#if (gt data.description.level.xp data.description.level.xpnext)}}notify{{/if}}">
                <span class="header-data">{{data.description.level.value}}</span>
                <label>{{localize 'LM.description.level.value'}}</label>
              </li>
            </div>
            <li>
              <span class="header-data">{{data.description.title}}</span>
              <label>{{localize 'LM.description.title'}}</label>
            </li>
            <li>
              <div class="field-long flexrow">
                <input type="text" name="data.description.level.xp" value="{{data.description.level.xp}}" data-dtype="Number"
                />
                <span class="next-level"><a>/{{data.description.level.xpnext}}</a></span>
                <span class="xp-bonus" title="{{ localize 'LM.level.bonus'}}"><a>{{data.description.level.bonus}}%</a></span>
              </div> 
              <label>{{localize 'LM.description.level.xp'}}</label>
            </li>
            {{#if data.retainer.enabled }}
            <li>
              <input class="header-input" name="data.retainer.moral" type="text" value="{{data.retainer.moral}}"/>
              <a class="moral-check" title="{{localize 'LM.retainer.moralcheck'}}">
                <i class="fas fa-dice"></i></a>
              <label class= "resource-label">{{localize 'LM.retainer.moral'}}
              </label>
            </li> 
            {{/if}}
          </ul>
      </div>
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs" data-group="primary">
      <a class="item" data-tab="attributes">{{localize 'LM.category.attributes'}}</a>
      <a class="item" data-tab="features">{{localize 'LM.category.features'}}</a>
      {{#if data.shop }}
      <a class="item" data-tab="items">{{localize 'LM.category.items'}}</a>
      {{/if}}
      {{#if data.magicUser }}
      <a class="item" data-tab="spells">{{localize 'LM.category.spells'}}</a>
      {{/if}}
      <a class="item" data-tab="description">{{localize 'LM.category.description'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  <hr/>
      {{!-- Attributes Tab --}}
      <div class="tab" data-group="primary" data-tab="attributes">
      </div>
      {{!-- Owned Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        <div class="inventory">
          {{#each actor.containers as |item id|}}
              <li class="item-titles con flexrow" data-item-id="{{item._id}}" >
                  <div class="item-conta">
                    <a class="item-control container-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
                    title='{{localize "LM.items.drop"}}'>
                    <i class="fas fa-suitcase"></i>
                    </a>
                </div>
                  <div class="item-name"><a class="item-control container-edit">{{item.name}}</a>
                  </div>
                  <div class="item-controls">
                    <span>{{item.data.capacity.value}}/{{item.data.capacity.max}}</span>
                    <a class="item-control container-delete" title="{{localize 'LM.Del'}}"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
            {{/each}}
        </div>
        <div class="inventory">
            <li class="item-titles flexrow">
              <div class="item-caret"><i class="fas fa-caret-down"></i></div>
              <div class="item-name">{{localize "LM.weaponsname"}}</div>
              <div class="item-data">{{localize "LM.items.carriedIn"}}</div>
              <div class="item-data long">{{localize "LM.items.qualities"}}</div>
              <div class="item-data"><i class="fas fa-weight-hanging" title="{{localize 'LM.items.weight'}}"></i></div>
              <div class="item-controls">
                <a class="item-control item-create" data-type="weapon" title="{{localize 'LM.Add'}}"><i
                    class="fa fa-plus"></i></a>
              </div>
            </li>
          <ol class="item-list">
          {{#each actor.weapons as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  <h4 class="item-name">{{item.name}}</h4>
                  <div class="field-short black">
                    <span>{{item.data.carried}}</span>
                  </div>
                  <div class="icon-row flexrow">
                    {{#each item.data.tags as |tag|}}
                      {{#if (getTagIcon tag.value)}}
                        <img title="{{tag.title}}" src="{{getTagIcon tag.value}}" width="24" height="24"/>
                      {{/if}}
                    {{/each}}
                    {{#each item.data.tags as |tag|}}
                    {{#unless (getTagIcon tag.value)}}
                      <span title="{{tag.title}}">{{tag.value}}{{#unless @last}},{{/unless}}</span>
                    {{/unless}}
                    {{/each}}
                  </div>
                  <div class="field-short">
                    <span>{{item.data.weight}}</span>
                  </div>
                  <div class="item-controls">
                      <a class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
                      title='{{localize "LM.items.equip"}}'>
                      <i class="fas fa-hand-rock"></i>
                      </a>
                      <a class="item-control item-fast {{#unless item.data.fast}}item-unfast{{/unless}}"
                      title='{{localize "LM.items.fast"}}'>
                      <i class="fas fa-bolt"></i>
                      </a>
                      <a class="item-control item-packed {{#unless item.data.packed}}item-unpacked{{/unless}}"
                      title='{{localize "LM.items.packed"}}'>
                      <i class="fas fa-suitcase"></i>
                      </a>
                      <a class="item-control item-edit" title="{{localize 'LM.edit'}}"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="{{localize 'LM.Del'}}"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
          {{/each}}
          </ol>
          </div>
        <div class="inventory">
          <li class="item-titles flexrow">
            <div class="item-caret"><i class="fas fa-caret-down"></i></div>
            <div class="item-name">{{localize "LM.armorsname"}}</div>
            <div class="item-data">{{localize "LM.items.carriedIn"}}</div>
            <div class="item-data"></div>
            <div class="item-data">{{localize "LM.items.ac"}}</div>
            <div class="item-data"></div>
            <div class="item-data"><i class="fas fa-weight-hanging" title="{{localize 'LM.items.weight'}}"></i></div>
            <div class="item-controls">
              <a class="item-control item-create" data-type="armor" title="{{localize 'LM.Add'}}"><i
                  class="fa fa-plus"></i></a>
            </div>
          </li>
          <ol class="item-list">
           {{#each actor.armors as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  <h4 class="item-name">{{item.name}}</h4>
                  <div class="field-short black">
                    <span>{{item.data.carried}}</span>
                  </div>
                  <div class="field-short">
                  </div>
                  <div class="field-short">
                    <span>{{item.data.ac}}</span>
                  </div>
                  <div class="field-short">
                  </div>
                  <div class="field-short">
                    <span>{{item.data.weight}}</span>
                  </div>
                  <div class="item-controls">
                      <a class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
                      title='{{localize "LM.items.equip"}}'>
                      <i class="fas fa-tshirt"></i>
                      </a>
                      <a class="item-control item-fast {{#unless item.data.fast}}item-unfast{{/unless}}"
                      title='{{localize "LM.items.fast"}}'>
                      <i class="fas fa-bolt"></i>
                      </a>
                      <a class="item-control item-packed {{#unless item.data.packed}}item-unpacked{{/unless}}"
                      title='{{localize "LM.items.packed"}}'>
                      <i class="fas fa-suitcase"></i>
                      </a>
                      <a class="item-control item-edit" title="{{localize 'LM.edit'}}"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="{{localize 'LM.Del'}}"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
           {{/each}}
            </ol>
          </div>
        <div class="inventory">
           <li class="item-titles flexrow">
            <div class="item-caret"><i class="fas fa-caret-down"></i></div>
            <div class="item-name">{{localize "LM.gearsname"}}</div>
            <div class="item-data">{{localize "LM.items.carriedIn"}}</div>
            <div class="item-data"></div>
            <div class="item-data"><i class="fas fa-hashtag" title="{{localize 'LM.items.quantity'}}"></i></div>
            <div class="item-data"></div>
            <div class="item-data"><i class="fas fa-weight-hanging" title="{{localize 'LM.items.weight'}}"></i></div>
            <div class="item-controls">
              <a class="item-control item-create" data-type="item" title="{{localize 'LM.Add'}}"><i
                  class="fa fa-plus"></i></a>
            </div>
           </li>
           <ol class="item-list">
           {{#each actor.gear as |item id|}}
           {{#unless item.data.treasure }}
              <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  <h4 class="item-name">{{item.name}}</h4>
                  <div class="field-short black">
                    <span>{{item.data.carried}}</span>
                  </div>
                  <div class="field-short">
                  </div>
                  <div class="field-short flexrow">
                    <label class="quantity minus" title="{{localize 'LM.items.sub'}}"><a class="fas
                      fa-minus-circle"></a></label>
                    <span>{{data.quantity}}</span>
                    <label class="quantity plus" title="{{localize 'LM.items.sum'}}" value="{{data.quantity}}"><a class="fas
                        fa-plus-circle"></a></label>
                  </div>
                  <div class="field-short">
                  </div>
                  <div class="field-short">
                    <span>{{item.data.weight}}</span>
                  </div>
                  <div class="item-controls">
                    <a class="item-control item-fast {{#unless item.data.fast}}item-unfast{{/unless}}"
                    title='{{localize "LM.items.fast"}}'>
                    <i class="fas fa-bolt"></i>
                    </a>
                    <a class="item-control item-packed {{#unless item.data.packed}}item-unpacked{{/unless}}"
                    title='{{localize "LM.items.packed"}}'>
                    <i class="fas fa-suitcase"></i>
                    </a>
                    <a class="item-control item-edit" title="{{localize 'LM.edit'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'LM.Del'}}"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
            {{/unless}}
            {{/each}}
            {{#each actor.consumables as |item id|}}
               <li class="item flexrow" data-item-id="{{item._id}}">
                   <div class="item-image consumable"><a><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a></div>
                   <h4 class="item-name">{{item.name}}</h4>
                   <div class="field-short black">
                    <span>{{item.data.carried}}</span>
                  </div>
                  <div class="field-short">
                  </div>
                   <div class="field-short flexrow">
                     <label class="quantity minus" title="{{localize 'LM.items.sub'}}"><a class="fas
                       fa-minus-circle"></a></label>
                     <span>{{data.quantity}}</span>
                     <label class="quantity plus" title="{{localize 'LM.items.sum'}}" value="{{data.quantity}}"><a class="fas
                         fa-plus-circle"></a></label>
                   </div>
                   <div class="field-short">
                  </div>
                   <div class="field-short">
                     <span>{{item.data.weight}}</span>
                   </div>
                   <div class="item-controls">
                     <a class="item-control item-fast {{#unless item.data.fast}}item-unfast{{/unless}}"
                     title='{{localize "LM.items.fast"}}'>
                     <i class="fas fa-bolt"></i>
                     </a>
                     <a class="item-control item-packed {{#unless item.data.packed}}item-unpacked{{/unless}}"
                     title='{{localize "LM.items.packed"}}'>
                     <i class="fas fa-suitcase"></i>
                     </a>
                     <a class="item-control item-edit" title="{{localize 'LM.edit'}}"><i class="fas fa-edit"></i></a>
                     <a class="item-control item-delete" title="{{localize 'LM.Del'}}"><i class="fas fa-trash"></i></a>
                   </div>
               </li>
             {{/each}}
          </ol>
          </div>
        <div class="inventory">
            <li class="item-titles flexrow">
             <div class="item-caret"><i class="fas fa-caret-down"></i></div>
             <div class="item-name">{{localize "LM.treasurename"}}</div>
             <div class="item-data">{{localize "LM.items.carriedIn"}}</div>
             <div class="item-data"></div>
             <div class="item-data"><i class="fas fa-circle" title="{{localize 'LM.items.value'}}"></i></div>
             <div class="item-data"><i class="fas fa-hashtag" title="{{localize 'LM.items.quantity'}}"></i></div>
             <div class="item-data"><i class="fas fa-weight-hanging" title="{{localize 'LM.items.weight'}}"></i></div>
             <div class="item-controls">
               <a class="item-control item-create" data-type="item" data-treasure= "true" title="{{localize 'LM.Add'}}"><i
                   class="fa fa-plus"></i></a>
             </div>
            </li>
            <ol class="item-list">
            {{#each actor.gear as |item id|}}
            {{#if item.data.treasure}}
               <li class="item flexrow" data-item-id="{{item._id}}">
                   <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                   <h4 class="item-name">{{item.name}}</h4>
                   <div class="field-short black">
                    <span>{{item.data.carried}}</span>
                  </div>
                  <div class="field-short">
                  </div>
                   <div class="field-short">{{multround item.data.quantity item.data.cost}}</div>
                   <div class="field-short flexrow">
                    <label class="quantity minus" title="{{localize 'LM.items.sub'}}"><a class="fas
                      fa-minus-circle"></a></label>
                      <span>{{data.quantity}}</span>
                    <label class="quantity plus" title="{{localize 'LM.items.sum'}}" value="{{data.quantity}}"><a class="fas
                        fa-plus-circle"></a></label>
                  </div>
                  <div class="field-short">
                    <span>{{item.data.weight}}</span>
                  </div>
                   <div class="item-controls">
                      <a class="item-control item-fast {{#unless item.data.fast}}item-unfast{{/unless}}"
                      title='{{localize "LM.items.fast"}}'>
                      <i class="fas fa-bolt"></i>
                      </a>
                      <a class="item-control item-packed {{#unless item.data.packed}}item-unpacked{{/unless}}"
                      title='{{localize "LM.items.packed"}}'>
                      <i class="fas fa-suitcase"></i>
                      </a>
                       <a class="item-control item-edit" title="{{localize 'LM.edit'}}"><i class="fas fa-edit"></i></a>
                       <a class="item-control item-delete" title="{{localize 'LM.Del'}}"><i class="fas fa-trash"></i></a>
                   </div>
               </li>
              {{/if}} 
           {{/each}}
           </ol>
           </div>
      </div>

      {{!-- Owned Spells Tab --}}
      {{#if data.magicUser}}
      <div class="tab spells" data-group="primary" data-tab="spells">
        <div class="item-titles flexrow">
          <div class="item-name">{{localize "LM.category.spells"}}</div>
          <span>{{ localize "LM.level.name1"}}</span>
          <span class="spellLevel">{{data.canSpell.lvl1}}</span>
          <span>{{ localize "LM.level.name2"}}</span>
          <span class="spellLevel">{{data.canSpell.lvl2}}</span>
          <span>{{ localize "LM.level.name3"}}</span>
          <span class="spellLevel">{{data.canSpell.lvl3}}</span>
          <span>{{ localize "LM.level.name4"}}</span>
          <span class="spellLevel">{{data.canSpell.lvl4}}</span>
          <span>{{ localize "LM.level.name5"}}</span>
          <span class="spellLevel">{{data.canSpell.lvl5}}</span>
          <span>{{ localize "LM.level.name6"}}</span>
          <span class="spellLevel">{{data.canSpell.lvl6}}</span>
          <div class="item-controls">
            <a class="item-control item-reset" title='{{localize "LM.spells.resetSlots"}}'><i class="fas fa-sync"></i></a>
            <a class="item-control item-create" data-type="spell" title="{{localize 'LM.Add'}}"><i
                class="fa fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.spells as |spellGroup lvl|}}
        <div>
          <li class="item-titles flexrow" style="line-height:15px">
            <div class="item-caret"><i class="fas fa-caret-down"></i> </div>
            <div class="item-name">{{localize "LM.spells.level"}} {{lvl}}</div>
            <div class="field-short">{{localize "LM.spells.cast"}}/{{localize 'LM.spells.memorized'}}</div>
            <div class="item-controls">
              <a class="item-control item-create" data-type="spell" data-lvl="{{lvl}}" title="{{localize 'LM.Add'}}"><i
                  class="fa fa-plus"></i></a>
            </div>
          </li>
          <ol class="item-list">
            {{#each spellGroup as |item|}}
            <li class="item-entry">
              <div class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-name item-rollable flexrow">
                  <div class="item-image castSpell" style="background-image: url({{item.img}})"></div>
                  <a>
                    <h4 title="{{item.name}}">
                      {{item.name}}
                    </h4>
                  </a>
                </div>
                <div class="field-long memorize flexrow">
                  <span title="{{localize 'LM.spells.cast'}}">{{data.cast}}/</span>
                  <label class="quantity minusm" title="{{localize 'LM.items.sub'}}"><a class="fas
                      fa-minus-circle"></a></label>
                  <span title="{{localize 'LM.spells.memorized'}}">{{data.memorized}}</span>
                  <label class="quantity plusm" title="{{localize 'LM.items.sum'}}" value="{{data.memorized}}"><a class="fas
                        fa-plus-circle"></a></label>
                </div>
                <div class="item-controls">
                  {{#if ../../owner}}
                  <a class="item-control item-show" title='{{localize "LM.show"}}'><i class="fas fa-eye"></i></a>
                  <a class="item-control item-edit" title='{{localize "LM.edit"}}'><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='{{localize "LM.Del"}}'><i class="fas fa-trash"></i></a>
                  {{/if}}
                </div>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        {{/each}}
      </div>
      {{/if}}
      {{!-- Description Tab --}}
      <div class="tab description" data-group="primary" data-tab="description">
        <div class="class flexrow">
          <div class="class-description">
            <h3 class="headabilities">{{ localize "LM.data.class" }}</h3>
              <div class="class-group">
              <img class="class-img" title="{{localize 'LM.description.class'}}" src="{{data.class.img}}" alt="{{ localize 'LM.description.class' }}" >
              <a class="retainer {{# if data.retainer.enabled}}active{{/if}}"
                title='{{localize "LM.data.retainer"}}'>
              <i class="far {{#if data.retainer.enabled}}fa-times-circle{{else}}fa-circle{{/if}}"></i>
              </a>
              <select name="data.class.value">
              {{#select data.class.value}}
              {{#each config.actorClass as |label class|}}
                <option value="{{class}}">{{localize (concat "LM."label)}}</option>
              {{/each}}
              {{/select}}
              </select>
              <label>{{localize 'LM.description.aligment'}}:</label>
              <select name="data.description.aligment">
                {{#select data.description.aligment}}
                <option value="legal" selected>{{ localize 'LM.aligment.legal' }}</option>
                <option value="neutral">{{ localize 'LM.aligment.neutral' }}</option>
                <option value="chaotic">{{ localize 'LM.aligment.chaotic' }}</option>
                {{/select}}
              </select>
              <div class="class-group">
                <label>{{localize 'LM.description.level.value'}}:</label>
                <select name="data.description.level.value">
                {{#select data.description.level.value}}
                  <option value="0">{{ localize 'LM.level.name0' }}</option>
                  <option value="1">{{ localize 'LM.level.name1' }}</option>
                  <option value="2">{{ localize 'LM.level.name2' }}</option>
                  <option value="3">{{ localize 'LM.level.name3' }}</option>
                  <option value="4">{{ localize 'LM.level.name4' }}</option>
                  <option value="5">{{ localize 'LM.level.name5' }}</option>
                  <option value="6">{{ localize 'LM.level.name6' }}</option>
                  <option value="7">{{ localize 'LM.level.name7' }}</option>
                  <option value="8">{{ localize 'LM.level.name8' }}</option>
                  <option value="9">{{ localize 'LM.level.name9' }}</option>
                  <option value="10">{{ localize 'LM.level.name10' }}</option>
                  <option value="11">{{ localize 'LM.level.name11' }}</option>
                  <option value="12">{{ localize 'LM.level.name12' }}</option>
                  <option value="13">{{ localize 'LM.level.name13' }}</option>
                  <option value="14">{{ localize 'LM.level.name14' }}</option>
                {{/select}}
                </select>
                <label>{{localize 'LM.level.bonus'}}:</label>
                <input name="data.description.level.bonus" type="text" value="{{data.description.level.bonus}}"
                  placeholder="0" />
              </div>
              </div>
              <div class="class-group">
              <label>{{localize 'LM.class.requeriment'}}:</label>
              <span>{{data.abilities.requeriment}}</span>
              </div>
              <div class="class-group">
              <label>{{localize 'LM.class.principalAbility'}}:</label>
              <span>{{data.abilities.principal}}</span>
              </div>
          </div>
          <div class="biography">
            <div class="headname">{{localize "LM.actor.description"}}</div>
            {{editor content=data.biography target="data.biography"
              button=true owner=owner editable=editable}}
            </div>
          </div>
        <div class="inventory notes">
          <div class="headabilities">{{localize "LM.actor.notes"}}</div>
          <div class="resizable" data-editor-size="140">
            {{editor content=data.notes target="data.notes"
            button=true owner=owner editable=editable}}
          </div>
        </div>
    </div>
  </section>
</form>

